@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-----------------*/
/* Custom properties */
/*----------------*/

:root {
  /* Colors */
  --clr-body-bg: #f4f5f7;
  --clr-white: #ffffff;
  --clr-blue: #396df2;
  --clr-dark-blue: #4053fc;
  --clr-dar-perpule: #6070ff;
  --clr-text-title: #091e42;
  --clr-text-grayed: #6b778c;
  --clr-text-secondary: #344563;
  --clr-text-accent: #7f8cff;
  --clr-footer-text: #ebebff;

  /* Fonts-sizes */
  --fs-900: 9.37rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;

  /* font-families */
  --ff-poppins: 'Poppins', sans-serif;
}

/*-----------------*/
/* RESET */
/*----------------*/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default link style */
a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-poppins);
  font-size: var(--fs-400);
  background-color: var(--clr-body-bg);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove default button styles */
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.aligen-items-center {
  align-items: center;
}

.justify-content {
  justify-content: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0.5em;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.bg-white {
  background-color: var(--clr-white);
}
.bg-blue {
  background-color: var(--clr-blue);
}

.uppercase {
  text-transform: uppercase;
}

.column {
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.icon-menu {
  content: url(images/menu.svg);
}

/*-----------------*/
/* Header Section */
/*----------------*/
header {
  padding: 1rem 8rem;
  background-color: var(--clr-white);
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 4rem;
  max-height: 2rem;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  list-style: none;
  font-family: var(--ff-poppins);
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: var(--clr-text-secondary);
}
