@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font-family: "Poppins", sans-serif;

  --color-bg: #f4f5f7;
  --color-white: #fff;
  --color-footer: #6070ff;
  --color-primary-btn: #4053fc;
  --color-blog: #042c54;
  --color-text-title: #091e42;
  --color-subtext: #7f8cff;
  --color-text: #6b778c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--color-text-title);
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

@media screen and (min-width: 768px) {
  .section--padding {
    padding: 4rem;
  }
  .section--margin {
    margin: 4rem;
  }
}

@media screen and (min-width: 550px) {
  .section--padding {
    padding: 4rem 2rem;
  }
  .section--margin {
    margin: 4rem 2rem;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: var(--color-white);
}

.header__brand-container {
  flex: 1;
  margin-left: 4rem;
}
.header__brand-container img {
  width: 76px;
  height: 20px;
}
.header__nav-container {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
}
