@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Poppins', sans-serif;
  --color-bg: #f7f7f9;
  --color-white: #fff;
  --color-footer: #6070ff;
  --color-primary-btn: #4053fc;
  --color-blog: #042c54;
  --color-text-title: #091e42;
  --color-subtext: #7f8cff;
  --color-text: #6b778c;
  --color-text-p: #344563;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  color: var(--color-text-title);
}

body {
  background: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

input {
  all: unset;
}

.hidden {
  display: none !important;
}

.section__padding {
  padding: 142px 142px;
}

.section__margin {
  margin: 142px 142px;
}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 114px 24px;
  }

  .section__margin {
    margin: 114px 24px;
  }
}

@media screen and (max-width: 992px) {
  .section__margin {
    margin: 114px 35px;
  }
}

@media screen and (max-width: 1100px) {
  .section__margin {
    margin: 142px 80px;
  }
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: var(--color-white);
}

.header__brand-container {
  flex: 1;
  margin-left: 4rem;
}

.header__brand-container img {
  width: 76px;
  height: 20px;
}

.mobile_menu_open {
  display: none;
}

.header__nav-container__mobile_menu {
  list-style: none;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}

.header__nav-container__mobile_menu img {
  width: 24px;
  height: 24px;
  margin-top: 50px;
  margin-right: 35px;
}

.mobile__nav-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 10px 28px;
  gap: 24px;
}

.mobile_nav_links {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: var(--color-white);
  z-index: 2;
}

.header__nav-container {
  flex: 0.4;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-subtext);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Intro Section */

.intro {
  background-color: var(--color-white);
  background-image: url('./images/header_background.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
  align-items: flex-start;
  padding: 40px 8px 76px 34px;
  border-bottom-left-radius: 108px;
}

.intro__container {
  padding: 205px 260px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.intro__container h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
}

.intro__container p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-p);
}

.lets__connect-btn {
  color: var(--color-subtext);
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 28px;
  max-width: 120px;
}

.social__links-container {
  margin-top: 14px;
  min-width: 170px;
  max-width: 300px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scale_up {
  transition: all 0.2s ease-in-out;
}

.scale_up:hover {
  transform: scale(1.3);
  color: var(--color-primary-btn);
}

@media screen and (min-width: 992px) {
  .intro__container {
    padding: 142px 119px;
  }
}

@media screen and (min-width: 1100px) {
  .intro__container {
    padding: 150px 165px;
  }
}

@media screen and (max-width: 550px) {
  header {
    padding: 2rem 2rem;
  }

  .header__nav-container__mobile_menu {
    display: flex;
  }

  .header__nav-container__mobile_menu img {
    width: 32px;
  }

  .header__nav-container {
    display: none;
  }

  .header__brand-container {
    margin-left: 0;
  }

  .intro {
    padding: 0;
    background-image: url('./images/header_background_mobile.png');
    border-radius: 0 0 0 90px;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
  }

  .intro__container {
    padding: 114px 24px;
  }

  .mobile_menu_open {
    display: block;
  }
}

/* Works Section */

.work__container-items_container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  justify-content: center;
  row-gap: 142px;
}

.card {
  background-color: var(--color-white);
  border-radius: 24px;
  position: relative;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0);
  border: 1px solid #dfe1e6;
}

.card::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 24px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  opacity: 0;
  transition: opacity 500ms;
}

.card:hover::before {
  opacity: 1;
  border: 2px solid #a7aeff;
}

.card__body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card__body-img {
  margin: 24px 22px;
}

.card__body-img img {
  width: 544px;
  height: 448px;
}

.card__body-content {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 48px 24px;
}

.card__body-content h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-text-title);
}

.card__body-company {
  display: flex;
  gap: 26px;
  justify-content: flex-start;
  margin-top: 20px;
}

.card__body-company h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.card__body-company__rols {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}

.card__body-company__rols > li {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text);
}

.card__body-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-p);
  margin-top: 30px;
}

.card__body-tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
  margin: 24px 0;
}

.card__body-tags li > a {
  padding: 4px 12px;
  background: #ebebff;
  border-radius: 8px;
  color: var(--color-footer);
  letter-spacing: 0.03em;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.button__outlined {
  padding: 12px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid var(--color-footer);
  border-radius: 8px;
  background-color: transparent;
  position: relative;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0);
}

.button__outlined:hover {
  color: #fff !important;
  background-color: var(--color-primary-btn);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  transition: 0.3s;
}

.image__right {
  order: 2;
}

@media screen and (max-width: 1100px) {
  .card__body-img img {
    width: 450px;
    height: 375px;
  }
}

@media screen and (max-width: 992px) {
  .card__body-img img {
    width: 400px;
    height: 340px;
  }
}

@media screen and (max-width: 550px) {
  .work__container-items_container {
    row-gap: 114px;
  }

  .card__body {
    flex-direction: column;
  }

  .card__body-img {
    margin: 16px 16px 0 16px;
  }

  .card__body-img img {
    width: 295px;
    height: 220px;
  }

  .card__body-content {
    margin: 12px 16px 16px 16px;
    padding: 0;
  }

  .image__right {
    order: 0;
  }

  .card__body-content button {
    margin-bottom: 12px;
  }
}

/* About Section */

.about__section-container {
  display: flex;
  background-color: var(--color-white);
  border-top-right-radius: 108px;
  column-gap: 25px;
  padding-bottom: 143px;
}

.about__section-about_me {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  width: 447px;
}

.about__section-about_me h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-text-title);
}

.about__section-about_me p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-text-p);
}

.about__section-skills {
  width: 684px;
}

.about__section_skills-item {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  align-items: center;
  color: #000;
  margin: 12px 0;
  padding: 18px 0;
  border-bottom: 1px solid #dfe1e6;
}

.about__section_skills-items {
  padding: 4px 12px;
  list-style: none;
  margin: 5px 0;
}

.active {
  padding: 2px 0;
  border: none;
}

.icon {
  float: right;
  width: 14px;
}

.about__section_skills-languages {
  list-style: none;
  padding: 24px 0;
  display: grid;
  grid-template-columns: repeat(3, 122px);
  column-gap: 12px;
}

.about__section_skills-languages > li {
  background: #f7f7f9;
  border-radius: 8px;
  padding: 12px 12px 20px 12px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: start;
}

.about__section_skills-languages li > img {
  width: 48px;
  height: 48px;
}

.about__section_skills-languages > li > a {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: var(--color-text-p);
  text-decoration: none;
}

.about__section-about_me button {
  max-width: 190px;
}

@media screen and (max-width: 1100px) {
  .section__padding {
    padding: 100px 95px;
  }
}

@media screen and (max-width: 992px) {
  .section__padding {
    padding: 85px 60px;
  }
}

@media only screen and (max-width: 550px) {
  .about__section-container {
    flex-direction: column;
  }

  .about__section-about_me {
    max-width: 327px;
  }

  .about__section-skills {
    max-width: 327px;
  }

  .about__section_skills-languages {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .about__section_skills-languages > li {
    flex-direction: row;
    gap: 16px;
    align-items: center;
  }
}

/* Footer */

.footer {
  padding: 79px 75px 48px 75px;
  border-top-left-radius: 108px;
  background: url('./images/contact-form-background-desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-color: var(--color-footer);
  margin-top: -50px;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer__container h2 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: var(--color-white);
}

.footer__container p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  width: 569px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 801px;
  gap: 20px;
  min-width: 327px;
  margin-top: 15px;
}

.contact__form input[type='text'],
input[type='email'] {
  background-color: var(--color-white);
  padding: 15px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  width: 418px;
}

.contact__form input[type='text']::placeholder,
input[type='email']::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  align-items: center;
  color: #172b4d;
}

.contact__form textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
  min-height: 170px;
  padding: 15px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #172b4d;
  width: 447px;
}

.contact__form textarea::placeholder {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: var(--color-text);
}

.contact__form button {
  padding: 12px 16px;
  background-color: var(--color-white);
  border-radius: 8px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-footer);
  box-shadow: 0 48px 48px rgba(64, 83, 252, 0);
}

.contact__form button:hover {
  background-color: var(--color-footer);
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
  transition: 0.3s;
}

.contact__form button:focus {
  background-color: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
  color: #fff;
}

@media screen and (max-width: 550px) {
  .footer {
    background: url('./images/contact-form-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-origin: content-box;
    padding: 21px 0 48px 0;
    background-color: var(--color-footer);
    margin-top: -50px;
  }

  .footer__container {
    margin: 103px 24px 0 24px;
  }

  .footer__container p {
    width: 100%;
  }

  .contact__form {
    width: 100%;
    align-items: start;
  }

  .contact__form input[type='text'],
  input[type='email'] {
    border-radius: 8px;
    width: 91%;
  }

  .contact__form textarea {
    border-radius: 8px;
    width: 100%;
  }
}

/* modal */

.modal__container {
  position: fixed;
  z-index: 1;
  background-color: rgba(99, 119, 139, 0.596);
  backdrop-filter: blur(10px);
  top: 0;
  height: 100%;
  overflow-x: scroll;
  padding: 40px 0;
}

.modal {
  padding: 24px 24px;
  max-width: 85%;
  background-color: #fff;
  border-radius: 16px;
  margin: 0 auto;
}

.modal__header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: var(--color-text-title);
}

.modal__header__top img {
  cursor: pointer;
}

.modal__header__content {
  display: flex;
  gap: 26px;
  justify-content: flex-start;
  margin-top: 12px;
}

.modal__img {
  padding: 0;
  margin: 0;
}

.modal__img img {
  width: 100%;
  max-height: 586px;
  margin: 28px 0;
  padding: 0;
  object-fit: none; /* Do not scale the image */
  object-position: center;
  border-radius: 8px;
}

.modal__body {
  display: flex;
  gap: 24px;
}

.modal__description p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-text-p);
}

.button__group {
  display: inline-flex;
  gap: 12px;
}
.button__group a {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  padding: 10px;
  justify-content: center;
  width: max-content;
}

.icon-live {
  content: url('./images/icon-live.svg');
  margin: 8px 16px;
}

.icon-github {
  content: url('./images/github-blue.svg');
  margin: 8px 16px;
}
